<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<head>
<meta charset="UTF-8"> 
	<th:block layout:fragment ="customTitle">
		<title th:text="title"></title>
	</th:block>
</head>
<body>
	<th:block layout:fragment="customContent">
		
		<form th:action="@{/removeGoods}" method="post">
		<table border = "1">
			<tr>
				<td>상품코드</td>
				<td> 
				<input type = "text" name = "goodsCode" th:value="${goodsCode}" readonly="readonly">
				</td>			
			</tr>
			<tr>
				<td>판매자 아이디</td>
				<td> <input type = "text" name = "memberId" th:value="${goodsSellerId}" readonly="readonly"></td>			
			</tr>
			<tr>
				<td>판매자비밀번호</td>
				<td>
				<input type = "text" name = "memberPw" th:value="${memberPw}" placeholder="비밀번호를 입력해주세요.">
				</td>			
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;">
					<button type = "submit"> 상품삭제 </button>
				</td>
			</tr>
		</table>
		</form>
	</th:block>
</body>
</html>